{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Admin | {% block title %}{% endblock title %}
    </title>
    <link rel="shortcut icon" href="{% static 'icons/appicon-64.png' %}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="FlameOnePage freebie theme for web startups by FairTech SEO." name="description" />
    <meta content="FairTech" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/9891bbb6e0.js" crossorigin="anonymous"></script>
    <link href="{% static 'vendor/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/css/swiper.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/layout.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/admin/adminbase.css' %}" rel="stylesheet" type="text/css" />

    {% block csss %}{% endblock csss %}

</head>

<body id="body" data-spy="scroll" data-target=".header">

    {% block nav %}
    <nav>
        <div><a href="logout">Exit Admin</a></div>
    </nav>
    {% endblock nav %}
    {% block body %}{% endblock body %}

    <footer class="footer">
        <div class="section-seperator">
            <div class="content-md container">
                <div class="row">
                    <div class="col-sm-2 sm-margin-b-30">
                        <ul class="list-unstyled footer-list">
                            <li class="footer-list-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="footer-list-item"><a href="#about">Team</a></li>
                            <li class="footer-list-item"><a href="#contact">Contact</a></li>
                            <li class="footer-list-item"><a href="http://localhost:5173/">Admin Login</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 sm-margin-b-30">
                        <ul class="list-unstyled footer-list">
                            <li class="footer-list-item"><a href="#">Twitter</a></li>
                            <li class="footer-list-item"><a href="#">Facebook</a></li>
                            <li class="footer-list-item"><a href="#">Instagram</a></li>
                            <li class="footer-list-item"><a href="#">YouTube</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled footer-list">
                            <li class="footer-list-item"><a href="#">Subscribe to Our Newsletter</a></li>
                            <li class="footer-list-item"><a href="#">Privacy Policy</a></li>
                            <li class="footer-list-item"><a href="#">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-xs-6">
                    <img class="footer-logo" src="{% static 'img/logo-dark.png' %}" alt="flameonepage Logo">
                </div>
                <div class="col-xs-6 text-right">
                    <p class="margin-b-0"><a class="fweight-700" href="#">FlameOnePage</a> Theme Powered by: <a
                            class="fweight-700" href="http://ft-seo.ch/">FairTech Studio</a></p>
                </div>
            </div>
        </div>
    </footer>
    <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

    <script src="{% static 'vendor/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery-migrate.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>


    <script src="{% static 'vendor/jquery.easing.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery.back-to-top.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery.smooth-scroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/jquery.wow.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/swiper/js/swiper.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/masonry/jquery.masonry.pkgd.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/masonry/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/layout.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/components/wow.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/components/swiper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/components/masonry.min.js' %}" type="text/javascript"></script>

</body>

</html>